:root {
  --main: #cccccc;
  --lock: #666666;
  --back: #010101;
  --acnt: rgba(255,255,255,0.1);
  --warn: red;
  --info: #999;
}

/* Light mode */
/* 
:root {
  --main: #010101;
  --back: #fff;
  --acnt: rgba(0,0,0,0.05);
  --warn: red;
  --info: #555;
}
*/

/* Core  */
body {
	color: var(--main);
	background-color: var(--back);
}

h2 {
	margin-top: 0;
	font-size: 30px;
}

label {
	display: inline-block;
}

/* Elements */

.module {
	position: relative;
	/* min-width: 35%; */
	min-width: 600px;
	max-width: max-content;
	margin: auto;
	margin-bottom: 30px;
	padding: 30px;
	background-color: var(--acnt);
}

.category {
	border: var(--acnt);
	border-style: solid;
	margin: 20px;
	padding: 0px 7px;
}

.category h1 {
	font-style: italic;
	margin: 0px;
	padding: 0px;
}

.module .update {
	position: absolute;
	top: 0;
	right: 0;
}

.module .float-warn {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0px;
	padding: 0px;
}

.tip {
	color: var(--info);
}

.warn {
	color: var(--warn);
}

.locked {
	color: var(--lock);
	background-color: rgba(255,255,255,0.05);
	/* filter: brightness(0.7); */
	pointer-events: none;
	user-select: none;
}

.locked input, .locked textarea, .locked button {
	background-color: rgba(255,255,255,0.25);
}

.locked * {
	border-color: rgba(255,255,255,0.25);
}

.locked .update {
	color: var(--main);
	filter: none;
	pointer-events: auto;
	user-select: auto;
}

/* Table */
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: var(--acnt);
}
td button {
	width: 100%;
}
td input {
	width: 97%;
}
td select {
	width: 100%;
}

/* Input */
input, button { 
	border-radius: 0 !important;
	color: revert;
	background-color: revert;
}
.input label {
    float: left;
    padding: 0 8px 0 0;
}

.input textarea {
	width: 100%;
	resize: vertical;
}

.input span {
    overflow: hidden;
    display: block;
    padding: 0 8px 0 0;
}
.input span input {
    width: 100%;
}

#c_file {
	margin: 0;
	color: var(--info);
	overflow: hidden;
	max-width: 700px;
	white-space: nowrap;
}

#cb_mask button {
	width: 15%;
	height: 100px;
	background-size: 100% 100%;
}

#cb_img button { 
	width: 20%;
	height: 100px;
	background-size: 100% 100%;
}

#cb_img button:hover, #cb_mask button:hover {  
	background-color: var(--acnt);
}

#cb_img button, #cb_mask button {  
	/* https://stackoverflow.com/a/22672444 */
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;

	color: var(--main) !important;
	font-size: 15px;
	text-shadow: 2px 2px 2px var(--back);
}

#t_pop {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* img */
img {
	display: block;
	max-width: 100%;
}
#crop-img-div {
	max-width: 700px;
}

.cat_slider {
	width: 80%;
}

.cat_slide_val {
	width: 10%;
	font-size: 16px;
	padding: 5px;
}

#sort-cat-table * {
  text-align: center;
}

.cat_keep_check {
	width: auto;
}