table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	max-width: 500px;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

td button {
	width: 100%;
}